<div id="contentOneWrapper">
    <div id="contentOne">
        <img src="/assets/contentOnePicture.svg">
        <div id="contentOneWords">
            <h2>Create an invite-only place where you belong</h2>
            <p>Discord servers are organized into topic-based channels where you can collaborate, share, and just talk about your day without clogging up a group chat.</p>
        </div>
    </div>
</div>
<div id="contentTwoWrapper">
    <div id="contentTwo">
        <img src="/assets/contentTwoPicture.svg">
        <div id="contentTwoWords">
            <h2>Where haning out is easy</h2>
            <p>Grab a seat in a voice channel when you’re free. Friends in your server can see you’re around and instantly pop in to talk without having to call.</p>
        </div>
    </div>
</div>
<div id="contentOneWrapper">
    <div id="contentOne">
        <img src="/assets/contentThreePicture.svg">
        <div id="contentOneWords">
            <h2>From few to a fandom</h2>
            <p>Get any community running with moderation tools and custom member access. Give members special powers, set up private channels, and more.</p>
        </div>
    </div>
</div>
<div id="contentFourWrapper">
    <div id="contentFour">
        <div id="contentFourWords">
            <h2>RELIABLE TECH FOR STAYING CLOSE</h2>
            <p>Low-latency voice and video feels like you’re in the same room. Wave hello over video, watch friends stream their games, or gather up and have a drawing session with screen share.</p>
        </div>
        <img src="/assets/contentFourPicture.svg">
    </div>
    <div id="download">
        <h4>Ready to start your journey?</h4>
        <a href="https://discord.com/api/download?platform=osx">Download</a>
    </div>
</div>