<div id="footerWrapper">
    <div id="footer">
        <div id="sectionOne">
            <h4>Imagine a place</h4>
        </div>
        <div id="sectionTwo"></div>
        <div class="footerSections">
            <h5>Product</h5>
            <a href="https://discord.com/download">Download</a>
            <a href="https://discord.com/nitro">Nitro</a>
            <a href="https://discordstatus.com/">Status</a>
        </div>
        <div class="footerSections">
            <h5>Company</h5>
            <a href="https://discord.com/company">About</a>
            <a href="https://discord.com/jobs">Jobs</a>
            <a href="https://discord.com/branding">Branding</a>
            <a href="https://discord.com/newsroom">Newsroom</a>
        </div>
        <div class="footerSections">
            <h5>Resources</h5>
            <a href="https://discord.com/college">College</a>
            <a href="https://support.discord.com/hc/en-us">Support</a>
            <a href="https://discord.com/safetycenter">Saftey</a>
            <a href="https://discord.com/blog">Blog</a>
            <a href="https://feedback.discord.com/">Feedback</a>
            <a href="https://discord.com/build">Build</a>
            <a href="https://discord.com/streamkit">Streamkit</a>
            <a href="https://discord.com/creators">Creators</a>
            <a href="https://discord.com/community">Community</a>
        </div>
        <div class="footerSections">
            <h5>Policies</h5>
            <a href="https://discord.com/terms">Terms</a>
            <a href="https://discord.com/privacy">Privacy</a>
            <a href="https://discord.com/">Cookie Settings</a>
            <a href="https://discord.com/guidelines">Guidelines</a>
            <a href="https://discord.com/acknowledgements">Acknowledgements</a>
            <a href="https://discord.com/licenses">Licenses</a>
            <a href="https://discord.com/moderation">Moderation</a>
        </div>
    </div>
    <div id="signupSection">
        <div id="topLine"></div>
        <div id="footerButtons">
            <a href="https://discord.com/">Discord</a>
            <div id="signupButton">
                <a href="https://discord.com/register">Sign Up</a>
            </div>
        </div>
    </div>    
</div>